<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
<title>book</title>
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<table>
		<tr>
			<td><h1>Info</h1></td>
		</tr>
		<tr>
			<td><h2 th:text="${books}"></h2></td>
		</tr>
	</table>
</body>
</html>
